body {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  animation: color 12s infinite;
}
.B {
  position: relative;
  width: 40%;
  left: 100%;
  animation: fly 12s infinite;
}
@keyframes color {
  0%{background-color: inherit;}
  25%{background-color: inherit;}
  50%{background-color: inherit;}
  75%{background-color: inherit;}
  100%{background-color: inherit;}
}
@keyframes fly {
  0%{
    top: -15px;
    left: 0px;
  }
  25%{
    top: 20px;
  }
  50%{
    top: -20px;
  }
  75%{
    top: 60px;
  }
  100%{
    top: 45px;
  }
}
