@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&family=Lora&family=Tinos&display=swap');


body {
   background-image: url('../images/WOODGRAIN.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;      
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding:0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-attachment:fixed;}


.container {
   height: auto;
   text-align: center;
   /* Add this line: */
   flex-grow: 1; 
   /* The display property should probably be flex here as well */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
   
 /* Center all content within the container vertically and horizontally */
.content-wrapper {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    gap: 1em; /* Adds clean spacing between items automatically */
}

.tagline {
   font-family: Lora, serif;
   font-size: 35px;
   margin: 0; /* Remove default paragraph margins */
}

.social-links-home a img {
    margin: 5px; /* Add some space between social icons */
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6); /* White, semi-transparent */
  transform: scale(0);
  animation: ripple-effect 0.6s linear;
  pointer-events: none; /* Allows clicks to pass through the ripple element */
  z-index: 9999; /* Ensure it's above other content */
}

@keyframes ripple-effect {
  to {
    transform: scale(4); /* Adjust size as needed */
    opacity: 0;
  }
}
